<div class="block-header no-breadcrum">
  <h2>Kaboos
    <small>Welcome back to Kaboos - Release Train Management.</small>
  </h2>
</div>


<div class="card">
    <div class="card-header ch-alt">
        <h2>Dashboard <small>How are your companies doing? Lets find out.</small></h2>
    </div>
    <div class="card-header">
      <h5>Releases this month</h5>
      <div class="noRecordsSection padlist">
          <i class="fa fa-exclamation-triangle"></i> No Records Found.
      </div>
    </div>
    <div class="card-header">
      <h5>Pending release approvals</h5>
      <div class="noRecordsSection padlist">
          <i class="fa fa-exclamation-triangle"></i> No Records Found.
      </div>
    </div>
    <div class="card-header">
      <h5>Recently completed releases</h5>
      <div class="noRecordsSection padlist">
          <i class="fa fa-exclamation-triangle"></i> No Records Found.
      </div>
    </div>
    <div class="card-header">
      <h5>New Projects</h5>
      <div class="noRecordsSection padlist">
          <i class="fa fa-exclamation-triangle"></i> No Records Found.
      </div>
    </div>
</div>
