<div class="jumbotron">
    <h1><i class="fa fa-puzzle-piece"></i> Kaboos</h1>
    <p>Your Release Train Management Application</p>
</div>
<div class="card">
    <div class="card-header">
        <h2>About Kaboos<small>How can this app make your life easier? Lets find out.</small></h2>
    </div>
    <div class="card-body card-padding">
      <i>Kaboos is a release train management application designed to help you manage deployments across multiple
      teams as well as multiple projects. Let's learn more about some key features...</i>
      <br /><br />

      <strong>&#8226; Companies</strong>
      <p>
      Whether you manage one company, or manage multiple; Kaboos allows you to manage deployments independantly
      using the same application.  Companies hold your high level company information, employee info, application
      information, team structure, and integration points.
      </p>

      <strong>&#8226; Teams</strong>
      <p>
      Teams allow you to manage who works together and on what projects.  Teams are comprised of company members
      and have specific roles in relation to the team.  This allows you to have folks across different teams, working
      on different projects, all while facilitating different roles in each senario.
      </p>

      <strong>&#8226; Projects</strong>
      <p>
      Projects allow you to store information about a specific application or module of an application and manage
      it independently of the rest. Projects hold information such as who works on the project, any projects that
      consume this project, and even other projects it consumes! If you have that one custom application that needs
      special treatment, you can give it the attention it needs.
      </p>

      <strong>&#8226; Releases</strong>
      <p>
      Releases are hard to manage as it is, so we give you a one stop shop to manage all things Releases.  On the
      release page, you are able to store information such as what projects, what teams, stakeholders, release steps,
      change log, as well as release notes.  Releases are managed by Stage and Status, and even allow you to notify
      users via email (or within this application!) when a release reaches specific milestones.
      </p>

      <strong>&#8226; Calendar</strong>
      <p>
      We also give you a celendar to lay out releases allowing you to easily identify when is an appropriate time to
      release your propject!
      </p>

      <strong>&#8226; Favorites</strong>
      <p>
      Manage the same thing constantly>? I know its a drag but you can favorite Companies, Projects, or Teams.
      </p>

      <strong>&#8226; Wizards</strong>
      <p>
      Looking to make things easier on yourself? There are wizards to help guide you through the creation of
      teams, projects, and releases!
      </p>
      <br/>

    </div>
    <div class="lv-footer">
      And much more! We are always adding features to keep an eye out...
    </div>
</div>
