<div class="block-header pad-top">
        <h2>Forgot Password <small>Enter your email for a password reset email.</small></h2>
</div>
<div class="card lc-block toggled" ng-controller="AccountController as pageController">
    <div class="card-body card-padding">
        <form class="form-horizontal" name="pageForm" ng-submit="pageController.login()" novalidate>
            <div ng-show="!pageController.isLoading" class="card-body card-padding">
                <div class="form-group" data-ng-class="{'has-error': pageController.pageForm.name.$invalid && pageController.isSubmitted}">
                    <label for="emailAddress" class="field-label">Email Address</label>
                    <div class="field-input">
                        <input type="text" class="form-control required" id="emailAddress" name="emailAddress" ng-model="pageController.loginModel.emailAddress" required placeholder="Email Address">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-login btn-danger btn-float waves-effect waves-circle"><i class="fa fa-arrow-right"></i></button>
        </form>
    </div>
</div>

<div class="lv-footer register">
    Already know your password?
    <a href="#/accounts/login" class="blue">Click Here</a>
    <span>to login</span>
</div>
