<ul class="breadcrumb">
    <li><a href="#/dashboard">Dashboard</a></li>
    <li class="active">No Access</li>
</ul>

<div class="card">
    <div class="card-body card-padding bgm-pink c-white" style="padding: 20px;">
        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
        Oops, It appears you do not have access to view this. No soup for you!
        <br /><br />
        Have you tried <a href="" style="color: #fff;" ng-click="pageController.goBack()">Going back</a> and trying again?
    </div>
</div>
